<div class="footer" style="text-align:center;">
              All Copyrights© are Reserved to <a href="/" style="color:#00fff8">HlaMovies</a><br/>
              Make sure to follow us on <a href="https://www.instagram.com/hlamovies/" style="color:#00fff8">Instgram</a><br/>
              Join our <a href="https://discord.gg/UGCbQ3F" style="color:#00fff8">Discord</a> server<br/>
              Become a <a href="https://www.patreon.com/join/hlamovies?" style="color:#00fff8">Patron</a><br/>
              Made By <span style="color:#00fff8">Ibrahim Eyad</span>
            </div>

            <script data-ad-client="ca-pub-6084639853268793" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>