<script data-ad-client="ca-pub-6084639853268793" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<style>
  
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

  #btn1{
        font-size:20px;
        margin-right:3pc;
        margin-bottom:3pc;
      }
      
      #btn2{
        font-size:20px;
        margin-right:3pc;
        margin-bottom:3pc;
      }
      
      #btn3{
        font-size:20px;
        margin-right:3pc;
        margin-bottom:3pc;
      }
      
      #btn4{
        font-size:19px;
        /*margin-right:3pc;*/
        margin-bottom:3pc;
      }
  
      #btn5{
        font-size:19px;
        margin-right:1.6pc;
        margin-bottom:3pc;
      }
  
  .btn6{
        font-size:19px;
        margin-right:1.6pc;
        margin-bottom:3pc;
      }

      /*margin-right: 45pc;
        margin-bottom: 1pc;*/
/*
      #img2 {
        display: block;
       /* display:inline-block;
        height: 100px;
        width: 100px;
      }
  */
  @media screen and (max-width: 768px) {
    
    #img2 {
        display: none;
       
      }

    #btn1{
        font-size:10px;
        margin-left:2.4pc;
        margin-top: pc;
           margin-bottom:3pc;
        
      }
      
      #btn2{
        font-size:10px;
        
      }
      
      #btn3{
        font-size:10px;
        
      }
      
      #btn4{
        font-size:10px;      
      }
        
        
        #btn5{
        font-size:10px;   
          margin-right: 8px;
      }
        
        .btn6{
        font-size:10px;   
          margin-right: 8px;
      }
    
  }
  
  
</style>

<div class="jumbotron">

<div class="text-center">
       <a href="/"> 
      <h1 style="color:black; font-size:3pc; margin-bottom:5pc; display: inline-block;">HlaMovies</h1> </a>
      </div>
  <div class="text-center">
    <a href="/about_us"><button id="btn4" style="color:white;" class="btn btn-dark">About Us</button> </a>
    <a href="/series"><button id="btn3" style="color:white;" class="btn btn-dark">Series</button> </a>
     <a href="/movies"><button id="btn2" style="color:white;" class="btn btn-dark">Movies</button> </a>
  <a href="/"><button id="btn1" style="color:white;" class="btn btn-success">Home</button> </a>
  
    <div>
      <a href="/partners"><button id="btn5" style="color:white;" class="btn btn-dark">Partners</button></a>
    </div>
    
   <!-- <a><button id="myBtn" class="btn btn-dark btn6">News</button></a>

<div id="myModal" class="modal">

  
  <div class="modal-content">
    <span class="close">&times;</span>
    <p style="color:white; background-color:#301E44; font-size:2pc; font-family: Indie Flower; text-align:center; margin-top:1pc;">News</p>
    <p style="text-align:left; margin-top:2pc; font-size:1pc; text-shadow: 1px 1px #000000;"><span style="color:#22BF41; text-shadow: 1px 1px #22BF41;">Added</span>: Men In Black: International 2019<br/>
      <span style="color:#22BF41; text-shadow: 1px 1px #22BF41;">Added</span>: Spider Man: Far From Home 2019<br/>
      <span style="color:#22BF41; text-shadow: 1px 1px #22BF41;">Added</span>: Pokémon Detective Pikachu 2019<br/>
      <span style="color:#22BF41; text-shadow: 1px 1px #22BF41;">Added</span>: HellBoy 2019<br/>
      <span style="color:#22BF41; text-shadow: 1px 1px #22BF41;">Added</span>: John Wick Chapter: 3 - Parabellum 2019<br/>
      <span style="color:#22BF41; text-shadow: 1px 1px #22BF41;">Added</span>: Ophelia 2018</p>
  </div>

</div>
      
      <script>
       
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");


var span = document.getElementsByClassName("close")[0];


btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
-->
    
    </div>
  
  
            </div>