<script data-ad-client="ca-pub-6084639853268793" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<style>

    #btn1{
          font-size:20px;
          margin-right:3pc;
          margin-bottom:3pc;
        }
        
        #btn2{
          font-size:20px;
          margin-right:3pc;
          margin-bottom:3pc;
        }
        
        #btn3{
          font-size:20px;
          margin-right:3pc;
          margin-bottom:3pc;
        }
        
        #btn4{
          font-size:19px;
          /*margin-right:3pc;*/
          margin-bottom:3pc;
        }
    
        #img2 {
        margin-right: 45pc;
        margin-bottom: 1pc;
        display: block;
        height: 100px;
        width: 100px;
      }
  
  @media screen and (max-width: 768px) {
    
    #img2 {
        display: none;
       
      }
      
      #btn1{
          font-size:10px;
          margin-left:2.4pc;
          margin-top: pc;
             margin-bottom:3pc;
          
        }
        
        #btn2{
          font-size:10px;
         
          
        }
        
        #btn3{
          font-size:10px;
  
          
        }
        
        #btn4{
          font-size:10px;      
         
        }
      
    }

    #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

    
  </style>
  
  <div class="jumbotron">

   <div class="text-center">
         <a href="/"> 
   <h1  style="color:black; font-size:3pc; margin-bottom:5pc; ">HlaMovies</h1> </a>
        </div>
    
    <div class="cen">
    <a  href="/about_us"><button id="btn4" style="color:white;" class="btn btn-dark">About Us</button> </a>
    <a href="/series"><button id="btn3" style="color:white;" class="btn btn-dark">Series</button> </a>
    <a href="/movies"><button id="btn2" style="color:white;" class="btn btn-success">Movies</button> </a>
    <a href="/"><button id="btn1" style="color:white;" class="btn btn-dark">Home</button> </a>
      </div>

      
    
    
              </div>

              