<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HlaMovies - Avengers: Endgame 2019</title>
    <meta name="description" content="Best Movies & Series Website | افضل موقع لعرض الأفلام و المسلسلات">
    <meta name="title" content="HlaMovies - Avengers: Endgame 2019">
   <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140414464-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140414464-1');
</script>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6084639853268793",
          enable_page_level_ads: true
     });
</script>

 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-6084639853268793", enable_page_level_ads: true }); </script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <style>
      p {
       color: white; 
        display: inline-block;
      }
      h2 {
       color: white; 
      }
      body {
  background-color: black;

  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-decoration: none;
}

li {
  float: left;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

hr{ 
  height: 10px;
  color: #554545;
  background-color: #554545;
  border: none;
}
      a {
    color: yellow;
    text-decoration: none;
}
      a:hover {
        color: yellow;
    text-decoration: none;
        cursor:pointer;  
      }
      .verticalLine {
   width:10px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:150px;
}
</style>
<body>

<div class="jumbotron">
  <h1 style="color:black; text-align:center; font-size:3pc;">
    HlaMovies
  </h1>
            </div>
    
    <div class="media p-3">
    <h2 class="mx-auto" style="font-family: Comic Sans MS, cursive, sans-serif;">Avengers: Endgame 2019</h2>
  </div>
  <img src="https://www.torreckt.com/wp-content/uploads/2019/04/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@-300x443.jpg" alt="Endgame" class="ml-3 mt-3 rounded border border-warning " style="width:320px; height:443px; float: right; margin-right:2pc;">
  <p style="float:right; font-size: 1.3pc; margin-top:2pc; font-family: Comic Sans MS, cursive, sans-serif;">
    Published On: <span style="color:Yellow;"> 26 April 2019</span>
  </p>
<br/>
  <br/>
  <br/>
    <hr>
  <p style="float:right; font-size: 1.3pc; font-family: Comic Sans MS, cursive, sans-serif;">
    Category: <span style="color:Yellow;">Action, Adventure, Fantasy, Sci-Fi</span>
  </p>
    <br/>
  <br/>
    <hr>
    <p style="float:right; font-size: 1.3pc; font-family: Comic Sans MS, cursive, sans-serif;">
      Parental Guidance: <span style="color:yellow;"><a href="https://en.wikipedia.org/wiki/PG-13_(disambiguation)">PG-13</a></span>
  </p>
  <br/>
  <br/>
    <hr>
  <p style="float:right; font-size: 1.3pc; font-family: Comic Sans MS, cursive, sans-serif;">
    Rating: <span style="color:yellow">8.8</span>⭐
  </p>
    <br/>
  <br/>
  <hr>
  <p style="float:right; font-size: 1.3pc; font-family: Comic Sans MS, cursive, sans-serif;">
    Film Duration : <span style="color:yellow">181 Minutes</span> | <span style="color:yellow">3 Hours</span>
  </p>  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  <div class="jumbotron jumbotron-fluid">

  <h1 class="display-4 text-center">
    Downloads
  </h1>
     <p style="color:black; float: right; margin-right:14pc;" class="counter display-6 h3 sp1 border border-danger rounded-lg">
      Direct Download
    </p>
    <p style="color:black; float: right; margin-right:36pc;" class="counter display-6 h3 sp1 border border-danger rounded-lg">
      Torrent
    </p>
    <p>
      <a href="magnet:?xt=urn:btih:2cc3022df0e7f037cf51dfe6c620c5fefde20c54&dn=Avengers.Endgame.2019.1080p.HC.HDTS.H264.AC3.YG&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969">
        <button class="btn btn-outline-dark" style=" margin-left:5pc; margin-top:3pc; ">
        Avengers.Endgame.2019.1080p.HC.HDTS.H264.AC3.YG
        </button></a>
    </p>
    
    
   <p>
      <a href="magnet:?xt=urn:btih:0cec43caab37989d84ebe0d51d77b4659ee7d96f&dn=Avengers+Endgame+2019+English+720p++HDCAM+V3++x264++2.7GB%5BMB%5D&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969">
        <button class="btn btn-outline-dark" style="margin-right:55pc; margin-left:5pc">
        Avengers Endgame 2019 English 720p HDCAM V3 x264 2.7GB[MB]
        </button></a>
    </p>
    
     <p>
      <a href="#">
        <button class="btn btn-outline-dark" style="margin-left:51pc;">
        Not Available Right Now 😦
        </button></a>
    </p>
    
    <hr style="width: 1px; height: 150px; background: black; border: none; " />
    
  </div>
  
  </body>
  
  
  </body>
</html>