<html lang="en" xmlns="www.w3.org/1999/xhtml" xml:lang="ar" version="XHTML+RDFa 1.0" dir="rtl" xmlns:content="purl.org/rss/1.0/modules/content/" xmlns:dc="purl.org/dc/terms/" xmlns:foaf="xmlns.com/foaf/0.1/" xmlns:og="ogp.me/ns#" xmlns:rdfs="www.w3.org/2000/01/rdf-schema#" xmlns:sioc="rdfs.org/sioc/ns#" xmlns:sioct="rdfs.org/sioc/types#" xmlns:skos="www.w3.org/2004/02/skos/core#" xmlns:xsd="www.w3.org/2001/XMLSchema#" style="" class=" supports no-csstransforms3d csstransformspreserve3d supports no-csstransforms3d csstransformspreserve3d"><head>
    <title>HlaMovies - افلام</title>
    <meta name="description" content="Best Movies &amp; Series Website | افضل موقع لعرض الأفلام و المسلسلات">
    <meta name="title" content="HlaMovies">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">   
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
    
   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-6084639853268793", enable_page_level_ads: true }); </script> 


    
    
    
    
    <meta charset="UTF-8">
          
</head>

 <body><h1>Simple Login Page</h1>
        <form name="login">
            Username<input type="text" name="userid"><br>
            Password<input type="password" name="pswrd"><br>
            <input type="button" onclick="check(this.form)" value="Login"><br>
            <input type="reset" value="Cancel">
        </form>
        <script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.userid.value == "test" && form.pswrd.value == "test") {
                    window.open('/')/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Error Password or Username")/*displays error message*/
                }
            }
        </script>





</body></html>