<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HlaMovies - افلام</title>
    <meta name="description" content="Best Movies & Series Website | افضل موقع لعرض الأفلام و المسلسلات">
    <meta name="title" content="HlaMovies">
   <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79143404-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79143404-1');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6084639853268793",
          enable_page_level_ads: true
     });
</script>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-6084639853268793", enable_page_level_ads: true }); </script>

    <!-- import the webpage's stylesheet -->
    
    <!-- <link rel="stylesheet" href="/style.css"> -->
    
    <!-- import the webpage's client-side javascript file -->
    
    <!-- <script src="/client.js" defer></script> -->
    
    <!--bootstrap محدش يلمسة -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <!--bootstrap محدش يلمسة -->
  </head>
  
  
  <body>
    
    <script>
    alert("This was the first page we have ever made and the first design")
    </script>
    
     <style>
      p {
       color: white; 
      }
      h2 {
       color: white; 
      }
     
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-decoration: none;
}

li {
  float: left;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

hr{ 
  height: 10px;
  color: #554545;
  background-color: #554545;
  border: none;
}
      a {
color: #00ff28;
    text-decoration: none;
}
      a:hover {
    color: white;
    text-decoration: none;
        cursor:pointer;  
      }
       #des {
         color: black;
       }
</style>
    
   
    <ul>
  <li><a class="active" href="/" style="text-decoration: none;">Home | الرئيسية</a></li>
  <li><a href="/" style="text-decoration: none;">Films | الأفلام</a></li>
  <li><a href="/" style="text-decoration: none;">Series | مسلسلات</a></li>
  <li><a href="#about" style="text-decoration: none;">Contact | تواصل معنا</a></li>
      <a href="#"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-top: 3pc; float:right; margin-right: 13px; ">تسجيل</button></a>
</ul>
    
<!-- <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">HlaMovies</span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">تسجيل</button>


</nav>
-->


    
 <!--   <header >
      <h1 class="p-3 mb-2 bg-primary text-white">
        Coming Soon!<br/>
        By: Moizr & HeemPlayz
      </h1>
    </header>
-->
   <div style="margin-top:4pc; margin-left:2pc;">
     
     <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/vEfdcq4C5OBUT5d5h7b5qR2Ommc=/0x0:864x1280/1200x800/filters:focal(363x571:501x709)/cdn.vox-cdn.com/uploads/chorus_image/image/63239723/MLou2_Payoff_1_Sht_Online_DOM_v7_Sm_0.0.jpg" style="width:100%">
       <div class="card-body">
    <h5 class="card-title">Avengers: Endgame</h5>
    <p class="card-text" id="des">After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to undo Thanos' actions and restore order to the universe.</p>
    <a href="/endgame" class="btn btn-primary">More Details | تفاصيل اكثر</a>
  </div>
</div>
</div>    
    
    
    
   
  </body>
  
  
  
  
  
</html>
